{% extends 'adventure/generic.html.twig' %}

{% block title %}Laundry Master{% endblock %}

{% block body %}
  
{% include 'adventure/navbar.html.twig' %}

<p><a href="{{ path('adventure_about_database') }}">Information om databasen</a></p>

<h3>
    Bakgrund
</h3>

<p class="text-left">
    Att fatta beslutet att göra ett äventyrsspel var mycket lätt efter att ha kikat på alternativen. 
    Jag har velat göra ett i många år och nu fick jag chansen. När jag var liten var jag mycket fascinerad av
    denna typ av spel.
</p>

<p class="text-left">
    Första steget var att ta fram en spelidé och som 3-barnsförälder gräver jag där jag står. Hur vardagligt spel 
    kunde jag skapa? Förhoppningsvis blev det så vardagsrealistiskt som bara en trött småbarnsförälder 
    fullt kan uppskatta. Smal användarkrets måhända men nu kör vi...
</p>

<h3>
    Spelidé
</h3>

<p class="text-left">
    Spelaren ska samla smutstvätt i en tvättkorg som han/hon bär med sig. Det är tighta ekonomiska tider och 
    tvättmaskinen får inte startas förrän den är tillräckligt full, här i detta spel satt, helt odemokratiskt,
    till 15 plagg. Plaggen kan finnas i samtliga rum i spelet.
</p>

<p class="text-left">
    När spelaren har samlat 15 plagg kan tvättmaskinen i grovköket startas. Tyvärr ligger inte alla plagg synliga
    utan gömmer sig ibland i garderoberna. Garderober, som det ska visa sig, är låsta och måste öppnas med nycklar. Även dessa
    nycklar kan vara gömda. Spelare ska samla även dessa nycklar för att kunna öppna garderober i rummen.
    Puh, detta börjar ju låta som ett riktigt spel.
</p>

<p class="text-left">
    Men vänta! det finns mer: Spelet går på tid och i databasen sparas spelarens namn och information om spelet (Datum, tid placering på topplistan). 
    Spela därför Laundry Master så snabbt som möjligt för att hamna högst upp på topplistan. Nu är det ett spel!!!
</p>

<h1 class ="glow-red">
    Enjoy!
</h1>


{% endblock %}
