{% extends 'adventure/generic.html.twig' %}

{% block title %}Laundry Master{% endblock %}

{% block body %}
  
{% include 'adventure/navbar.html.twig' %}


<p class="text-left">
   Så här kan du spela genom spelet snabbt och enkelt 
</p>

<ol class="text-left">
    <li>
        Skriv in ditt namn och starta spelet. 
    </li>
    <li>
        Plocka upp de tre plaggen i hallen. Gå vidare till Fabians rum
    </li>
    <li>
        Plocka upp de tre plaggen och nyckeln i Fabians rum. Gå ut i hallen.
    </li>
    <li>
        Gå vidare till Viggos rum.
    </li>
    <li>
        Plocka upp smutsplagget i Viggos rum och öppna Garderob 2 med nyckeln. 
    </li>
    <li>
        Plocka upp de två smutsplaggen och nyckeln som finns i Garderob 2. Gå ut i hallen.
    </li>
    <li>
        Gå in i Fabians rum och lås upp Garderob 5 med nyckeln. Plocka sedan upp de två smutsplaggen
        i garderoben samt nyckeln som finns där. Gå ut i hallen.
    </li>
    <li>
        Gå in i Amélies rum och plocka upp de två smutsplaggen och lås upp Garderob 3 med nyckeln. Plocka upp 
        en ny nyckel i garderoben. Gå ut i hallen.
    </li>
    <li>
        Gå in i Fabians rum och lås upp Garderob 4 med nyckeln. Plocka upp nyckeln som gömmer sig i den garderoben. 
        Gå ut i hallen.
    </li>
    <li>
        Gå in i Viggos rum och lås upp Garderob 1 med nyckeln. Plocka upp smutsplagget. Gå ut i hallen.
    </li>
    <li>
        Gå till grovköket. Plocka upp det sista smutsplagget. Du ska nu ha 15 plagg och kan starta tvättmaskinen. 
        Klar!
    </li>


</ol>

{% endblock %}
