<nav>
        <p>
            <a href="{{ path('app_library') }}">Bibliotek - hem</a> |
            <a href="{{ path('book_create_get') }}">Lägg till en bok</a> |
            <a href="{{ path('library_view_all') }}">Se alla böcker</a> |
            <a href="{{ path('library_reset') }}">Återställ databasen</a> 
        </p>
</nav>